# MongoDB Using Python

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/student/anaconda3/lib/python3.9/site-packages (4.2.0)

In [2]:
try:
    import os
    import pandas as pd
    import sys
    import io
    import pymongo
    import json
    from pymongo import MongoClient
    from bson.objectid import ObjectId

    print("All Modules loaded ")
except Exception as e:
    print("Error : {} ".format(e))

All Modules loaded

All Modules loaded 
Before you start working understanding basics is important. Now that you understand what a database Name is amd what a collection is we will use pymongo Library for this.

In [3]:
#CONNECTION_URL = "mongodb://root:rootpassword@localhost:27017"

client = MongoClient(host="mongodb://localhost:27017")

In [4]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
#Getting all DB Names
client.list_database_names()

['admin', 'config', 'empdb', 'local', 'mydb', 'test']

In [7]:
DBNAME = 'mydb'

client[DBNAME].list_collection_names()

[]

**Insert operations

When you want to insert Items in MongoDB you always have to say which Database Name and which collection Name 

**inserting one Documents**

Lets Create a new Database with Name 'empdb' and have a table name 'emp'

In [8]:
client['mydb']['emp'].insert_one({
    
    "ename":"Sanjay Mathapati",
    "age":45,
    "language":["Python", "c#" , "c++","MongoDB"]  
    
})

In [9]:
client['mydb']['emp'].find()

#Remeber it will always give you a generator Object 
# to get the data you need a iterator {} mean find everything

In [10]:

for x in clint['mydb']['emp'].find({},{"ename":1}):
    print(x)
   # breake

{'_id': ObjectId('6486f02e66929fb6d0c34aeb'), 'ename': 'Sanjay Mathapati'}

**Insert Many Documents**

In [11]:
data = [
         {
        "ename":"swati",
        "job":"Manager",
        "sal":50000,
        "dept":10
        },
        {
        "ename":"Pratiksha",
        "job":"Analyst",
        "sal":25000,
        "dept":10
        },
        {
        "ename":"Kirti",
        "job":"Manager",
        "sal":30000,
        "dept":20
        }
]
client['mydb']['emp'].insert_many(data)

In [12]:
for x in client['mydb']['emp'].find():
    print(x)

{'_id': ObjectId('6486f02e66929fb6d0c34aeb'), 'ename': 'Sanjay Mathapati', 'age': 45, 'language': ['Python', 'c#', 'c++', 'MongoDB']}
{'_id': ObjectId('6486f03866929fb6d0c34aec'), 'ename': 'swati', 'job': 'Manager', 'sal': 50000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aed'), 'ename': 'Pratiksha', 'job': 'Analyst', 'sal': 25000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aee'), 'ename': 'Kirti', 'job': 'Manager', 'sal': 30000, 'dept': 20}

In [13]:
data=[{"empno":101, "ename":"Sanjay", "sal" : 50000, "job": "Manager" , "dept":10 } ,
    {"empno":102, "ename":"Prakash", "sal" : 20000, "job": "Analyst" , "dept":20 },
    {"empno":103, "ename":"Priti", "sal" : 30000, "job": "Manager" , "dept":10 } ]

client['mydb']['emp'].insert_many(data)

In [14]:
for x in client['mydb']['emp'].find({}):
    print(x)

{'_id': ObjectId('6486f02e66929fb6d0c34aeb'), 'ename': 'Sanjay Mathapati', 'age': 45, 'language': ['Python', 'c#', 'c++', 'MongoDB']}
{'_id': ObjectId('6486f03866929fb6d0c34aec'), 'ename': 'swati', 'job': 'Manager', 'sal': 50000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aed'), 'ename': 'Pratiksha', 'job': 'Analyst', 'sal': 25000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aee'), 'ename': 'Kirti', 'job': 'Manager', 'sal': 30000, 'dept': 20}
{'_id': ObjectId('6486f03e66929fb6d0c34aef'), 'empno': 101, 'ename': 'Sanjay', 'sal': 50000, 'job': 'Manager', 'dept': 10}
{'_id': ObjectId('6486f03e66929fb6d0c34af0'), 'empno': 102, 'ename': 'Prakash', 'sal': 20000, 'job': 'Analyst', 'dept': 20}
{'_id': ObjectId('6486f03e66929fb6d0c34af1'), 'empno': 103, 'ename': 'Priti', 'sal': 30000, 'job': 'Manager', 'dept': 10}

Understanding to insert pandas Dataframe

In [15]:
data = [{
    "_id":"201",
    "ename":" karan Thapa ",
    "age":60,
    "language":["Python", "java"]
    
    
},
{
    "_id":"206",
    "ename":"  Deepak Patil ",
    "age":57,
    "language":["Python", "java"]
    
    
}]

import pandas as pd
df = pd.DataFrame(data=data)

In [16]:
df.head()

   _id            ename  age        language
0  201     karan Thapa    60  [Python, java]
1  206    Deepak Patil    57  [Python, java]

In [17]:
client['empdb']['emp'].insert_many(df.to_dict('record'), ordered=False)

/tmp/ipykernel_3104/2454805984.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  client['empdb']['emp'].insert_many(df.to_dict('record'), ordered=False)

Update if Record Exists

In [18]:
d1 = {
    "ename":"Sachin",
    "age":222,
    "language":["python3"]
    
}
d1

{'ename': 'Sachin', 'age': 222, 'language': ['python3']}

In [19]:

client['mydb']['emp'].update_many( {"_id":"101"}, {"$set": d1}
                                        )

In [20]:
# to change only one Attribute
client['mydb']['emp'].update_many(
{"_id":"101"},
{"$set": {"ename":"Mohit Sharma "}}
)

**Search**

In [21]:
#match all
client['mydb']['emp'].find({})
#Remeber it will always give you a generator Object to get the data you need a iterator {} mean find everything

In [22]:
for x in client['mydb']['emp'].find({}):
    print(x)

{'_id': ObjectId('6486f02e66929fb6d0c34aeb'), 'ename': 'Sanjay Mathapati', 'age': 45, 'language': ['Python', 'c#', 'c++', 'MongoDB']}
{'_id': ObjectId('6486f03866929fb6d0c34aec'), 'ename': 'swati', 'job': 'Manager', 'sal': 50000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aed'), 'ename': 'Pratiksha', 'job': 'Analyst', 'sal': 25000, 'dept': 10}
{'_id': ObjectId('6486f03866929fb6d0c34aee'), 'ename': 'Kirti', 'job': 'Manager', 'sal': 30000, 'dept': 20}
{'_id': ObjectId('6486f03e66929fb6d0c34aef'), 'empno': 101, 'ename': 'Sanjay', 'sal': 50000, 'job': 'Manager', 'dept': 10}
{'_id': ObjectId('6486f03e66929fb6d0c34af0'), 'empno': 102, 'ename': 'Prakash', 'sal': 20000, 'job': 'Analyst', 'dept': 20}
{'_id': ObjectId('6486f03e66929fb6d0c34af1'), 'empno': 103, 'ename': 'Priti', 'sal': 30000, 'job': 'Manager', 'dept': 10}

In [23]:
#less than operator

for x in client['mydb']['emp'].find({ "sal": { "$lt": 30000}}):
    print(x)

{'_id': ObjectId('6486f03866929fb6d0c34aed'), 'ename': 'Pratiksha', 'job': 'Analyst', 'sal': 25000, 'dept': 10}
{'_id': ObjectId('6486f03e66929fb6d0c34af0'), 'empno': 102, 'ename': 'Prakash', 'sal': 20000, 'job': 'Analyst', 'dept': 20}

In [24]:
#AND
for x in client['mydb']['emp'].find({ "$and":[{"job":"Manager"},{"dept":10}]}):
    print(x)

{'_id': ObjectId('6486f03866929fb6d0c34aec'), 'ename': 'swati', 'job': 'Manager', 'sal': 50000, 'dept': 10}
{'_id': ObjectId('6486f03e66929fb6d0c34aef'), 'empno': 101, 'ename': 'Sanjay', 'sal': 50000, 'job': 'Manager', 'dept': 10}
{'_id': ObjectId('6486f03e66929fb6d0c34af1'), 'empno': 103, 'ename': 'Priti', 'sal': 30000, 'job': 'Manager', 'dept': 10}

In [27]:
#OR

for x in client['empdb']['emp'].find( { "$or":[{"job":"Manager"},{"dept":10}]  } ):
    print(x)

In [30]:
#sort
data = client['empdb']['emp'].find( { "$or":[{"job":"Manager"},{"dept":10}]  },
                                    {"ename":1} ).sort("ename")
# find({query},{projection}).sort(key:order)
for x in data:
    print(x)

In [29]:
data = client['empdb']['emp'].find( { },{"ename":1} ).sort("ename")

for x in data:
    print(x)

{'_id': '206', 'ename': '  Deepak Patil '}
{'_id': '201', 'ename': ' karan Thapa '}

In [31]:
#delete

client['empdb']['emp'].delete_one({"ename":"Priti"})

In [32]:
data = client['empdb']['emp'].find( { },{"ename":1} ).sort("ename")

for x in data:
    print(x)

{'_id': '206', 'ename': '  Deepak Patil '}
{'_id': '201', 'ename': ' karan Thapa '}

In [33]:
#Delete Many

client['empdb']['emp'].delete_many({})