In [29]:
"""
Pandas Have two type 
1]  Series  (Single type of data)
2]  DataFrame ( Multyple lines (type) of data store)

CSV : Comma Seperated Values
"""

'\nPandas Have two type \n1]  Series  (Single type of data)\n2]  DataFrame ( Multyple lines (type) of data store)\n\nCSV : Comma Seperated Values\n'

In [2]:
import pandas as pd
import numpy as np

In [66]:
###################### Series opeartions #######################################

In [12]:
s = pd.Series([1,2,3,4,5,6,7,8])     #random function from numpy
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [23]:
s = pd.Series(np.random.rand(50))
s

0     0.119278
1     0.630998
2     0.742210
3     0.141133
4     0.695410
5     0.001661
6     0.527432
7     0.783673
8     0.977581
9     0.144455
10    0.676432
11    0.939033
12    0.897424
13    0.501614
14    0.579828
15    0.068998
16    0.767263
17    0.306568
18    0.682755
19    0.397882
20    0.958523
21    0.373815
22    0.085606
23    0.732486
24    0.388236
25    0.479057
26    0.889586
27    0.908119
28    0.939875
29    0.130903
30    0.905235
31    0.341319
32    0.137791
33    0.911946
34    0.011574
35    0.963887
36    0.098001
37    0.141299
38    0.109665
39    0.528103
40    0.927866
41    0.717342
42    0.950433
43    0.192617
44    0.137462
45    0.169363
46    0.137714
47    0.011633
48    0.640588
49    0.634336
dtype: float64

In [21]:
# Knowing type of series s
type(s)

pandas.core.series.Series

In [13]:
# for knowing index of series s
s.index

RangeIndex(start=0, stop=8, step=1)

In [4]:
y = pd.Series([1,2,3,4,5,6,7], index=['a','b','c','d','e','f','g'])
y

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [6]:
u = pd.Series(np.random.rand(10))
u

0    0.363612
1    0.332348
2    0.652825
3    0.015434
4    0.568065
5    0.742684
6    0.492173
7    0.222273
8    0.573766
9    0.914262
dtype: float64

In [7]:
u.head()

0    0.363612
1    0.332348
2    0.652825
3    0.015434
4    0.568065
dtype: float64

In [8]:
u.tail()

5    0.742684
6    0.492173
7    0.222273
8    0.573766
9    0.914262
dtype: float64

In [26]:
#knowing data type of series s 
s.dtype

dtype('float64')

In [32]:
#knowing staring vales
s.head(5)

0    0.119278
1    0.630998
2    0.742210
3    0.141133
4    0.695410
dtype: float64

In [35]:
#knowing ending vales
s.tail(5)

45    0.169363
46    0.137714
47    0.011633
48    0.640588
49    0.634336
dtype: float64

In [ ]:
####################  DATAFRAME OPERAIONS  #####################################################

In [10]:
# CREATING DATAFRAME FRAME RANDOM FUNCTION IN NUMPY LIBRARY

df = pd.DataFrame(np.random.rand(500,8), index=np.arange(500))
print(df)

            0         1         2         3         4         5         6  \
0    0.691377  0.972627  0.094751  0.629467  0.146482  0.165586  0.960872
1    0.716082  0.850242  0.581858  0.689139  0.692555  0.409566  0.032144
2    0.084476  0.537100  0.634081  0.524633  0.192324  0.223171  0.354584
3    0.650647  0.715999  0.619989  0.903909  0.121408  0.442122  0.630260
4    0.066250  0.505865  0.209367  0.575493  0.933394  0.406034  0.029335
..        ...       ...       ...       ...       ...       ...       ...
495  0.657047  0.568388  0.074012  0.884156  0.295222  0.775737  0.760547
496  0.672685  0.960998  0.259951  0.420887  0.343231  0.442643  0.931794
497  0.825426  0.007865  0.108225  0.156785  0.002131  0.342978  0.142886
498  0.536184  0.015134  0.716763  0.880477  0.710049  0.352243  0.558337
499  0.907714  0.118593  0.995704  0.563118  0.785990  0.773329  0.671302

            7
0    0.184095
1    0.294636
2    0.977796
3    0.578826
4    0.873142
..        ...
495  0.767060
496  0.497480
497  0.089465
498  0.651053
499  0.608030

[500 rows x 8 columns]

In [13]:
df.shape[1]

8

In [15]:
f = open ("data.txt", 'r')
line = f.readlines()
print(line)

['23, 23, 26, 41, 12, 41,  2, 24, 34, 26,  2\n', '21, 43, 22, 43, 41,  7, 28, 32,  9, 33, 38\n', '4, 32,  9, 46, 31, 35, 42,  4, 20, 28, 33\n']

In [10]:
# type of FRAME (DataFrame)
type(df)

pandas.core.frame.DataFrame

In [11]:
# NO OF  columns
df.columns

RangeIndex(start=0, stop=8, step=1)

In [12]:
# First 5 rows in Dataframe 
df.head(5)

,0,1,2,3,4,5,6,7
0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,0.757759,0.189676,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,0.953312,0.520340,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839

In [13]:
# LAST 5 rows in Dataframe 
df.tail(5)

,0,1,2,3,4,5,6,7
495,0.942872,0.980669,0.804930,0.573362,0.338152,0.394541,0.101196,0.006889
496,0.471898,0.988865,0.514593,0.876103,0.599964,0.806398,0.211088,0.812206
497,0.650099,0.503640,0.838419,0.648366,0.514813,0.392711,0.833177,0.913291
498,0.954955,0.081132,0.823338,0.432674,0.847944,0.492256,0.997388,0.666557
499,0.750043,0.656345,0.395120,0.501938,0.972571,0.298997,0.738612,0.699188

In [14]:
# converting this dataframe values into ARRAY
df.to_numpy()

array([[0.18638768, 0.07254192, 0.50839531, ..., 0.97281127, 0.58728155,
        0.79518794],
       [0.75775899, 0.18967594, 0.75526358, ..., 0.17606209, 0.35973423,
        0.17494422],
       [0.80026626, 0.53754938, 0.53597381, ..., 0.92378664, 0.16252611,
        0.22683151],
       ...,
       [0.65009914, 0.50364   , 0.83841914, ..., 0.39271074, 0.833177  ,
        0.91329148],
       [0.95495479, 0.08113156, 0.82333802, ..., 0.49225619, 0.99738804,
        0.66655666],
       [0.75004256, 0.65634452, 0.39511976, ..., 0.29899683, 0.73861171,
        0.69918839]])

In [ ]:
####################  CSV fILES OPRATIONS   ####################################################

In [15]:
# Storing this data into CSV ( COMMA-SEPERATED-VALUES )
df.to_csv("DATA.csv")

In [16]:
# Reading CSV file
read_df = pd.read_csv("DATA.csv")
read_df

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,1,0.757759,0.189676,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,3,0.953312,0.520340,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839
...,...,...,...,...,...,...,...,...,...
495,495,0.942872,0.980669,0.804930,0.573362,0.338152,0.394541,0.101196,0.006889
496,496,0.471898,0.988865,0.514593,0.876103,0.599964,0.806398,0.211088,0.812206
497,497,0.650099,0.503640,0.838419,0.648366,0.514813,0.392711,0.833177,0.913291
498,498,0.954955,0.081132,0.823338,0.432674,0.847944,0.492256,0.997388,0.666557
499,499,0.750043,0.656345,0.395120,0.501938,0.972571,0.298997,0.738612,0.699188

In [17]:
# for removing the index of csv file
df.to_csv('index_false.csv', index= False)

In [18]:
newdf = pd.read_csv("index_false.csv")
newdf

,0,1,2,3,4,5,6,7
0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,0.757759,0.189676,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,0.953312,0.520340,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839
...,...,...,...,...,...,...,...,...
495,0.942872,0.980669,0.804930,0.573362,0.338152,0.394541,0.101196,0.006889
496,0.471898,0.988865,0.514593,0.876103,0.599964,0.806398,0.211088,0.812206
497,0.650099,0.503640,0.838419,0.648366,0.514813,0.392711,0.833177,0.913291
498,0.954955,0.081132,0.823338,0.432674,0.847944,0.492256,0.997388,0.666557
499,0.750043,0.656345,0.395120,0.501938,0.972571,0.298997,0.738612,0.699188

In [19]:
read_df.columns.to_list()

['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7']

In [ ]:
#################################################################################

In [ ]:
#################################################################################

In [ ]:
#################################################################################

In [ ]:
# Statistical Function with DataFrame

In [20]:
df.head()

,0,1,2,3,4,5,6,7
0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,0.757759,0.189676,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,0.953312,0.520340,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839

In [21]:
df.describe()

,0,1,2,3,4,5,6,7
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.507611,0.514315,0.469329,0.506712,0.510980,0.503048,0.505644,0.509838
std,0.285310,0.289111,0.273759,0.289915,0.298297,0.301404,0.278906,0.289740
min,0.004421,0.003939,0.002052,0.003543,0.001843,0.003132,0.001878,0.001657
25%,0.264634,0.278772,0.229602,0.253526,0.256617,0.228156,0.270571,0.252468
50%,0.518372,0.504446,0.455933,0.503770,0.510449,0.510721,0.498633,0.515872
75%,0.757565,0.768338,0.708860,0.756573,0.776416,0.769184,0.743432,0.771075
max,0.997180,0.997259,0.999485,0.997993,0.999330,0.995535,0.998173,0.999647

In [22]:
df.count()

0    500
1    500
2    500
3    500
4    500
5    500
6    500
7    500
dtype: int64

In [22]:
df.min()

0    0.004421
1    0.003939
2    0.002052
3    0.003543
4    0.001843
5    0.003132
6    0.001878
7    0.001657
dtype: float64

In [23]:
df.max()

0    0.997180
1    0.997259
2    0.999485
3    0.997993
4    0.999330
5    0.995535
6    0.998173
7    0.999647
dtype: float64

In [89]:
df.mean()

0    0.530456
1    0.489537
2    0.501981
3    0.484713
4    0.504664
5    0.495665
6    0.484458
7    0.492477
dtype: float64

In [24]:
df[1][1]="NaN"
df

,0,1,2,3,4,5,6,7
0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,0.757759,NaN,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,0.953312,0.52034,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839
...,...,...,...,...,...,...,...,...
495,0.942872,0.980669,0.804930,0.573362,0.338152,0.394541,0.101196,0.006889
496,0.471898,0.988865,0.514593,0.876103,0.599964,0.806398,0.211088,0.812206
497,0.650099,0.50364,0.838419,0.648366,0.514813,0.392711,0.833177,0.913291
498,0.954955,0.081132,0.823338,0.432674,0.847944,0.492256,0.997388,0.666557
499,0.750043,0.656345,0.395120,0.501938,0.972571,0.298997,0.738612,0.699188

In [26]:
#  for specific value at that position
print("1st Row - 2nd column:  ",df.loc[0,1])
print("2nd Row - 1st column:  ",df.loc[1,0])

1st Row - 2nd column:   0.07254191676350552
2nd Row - 1st column:   0.7577589938271417

In [27]:
# Changing column names
df.columns = list('abcdefgh')
df

,a,b,c,d,e,f,g,h
0,0.186388,0.072542,0.508395,0.248751,0.453066,0.972811,0.587282,0.795188
1,0.757759,NaN,0.755264,0.913767,0.843432,0.176062,0.359734,0.174944
2,0.800266,0.537549,0.535974,0.412281,0.701729,0.923787,0.162526,0.226832
3,0.953312,0.52034,0.996949,0.753651,0.105032,0.930880,0.126200,0.569155
4,0.535535,0.505252,0.481864,0.356323,0.619453,0.157490,0.013272,0.508839
...,...,...,...,...,...,...,...,...
495,0.942872,0.980669,0.804930,0.573362,0.338152,0.394541,0.101196,0.006889
496,0.471898,0.988865,0.514593,0.876103,0.599964,0.806398,0.211088,0.812206
497,0.650099,0.50364,0.838419,0.648366,0.514813,0.392711,0.833177,0.913291
498,0.954955,0.081132,0.823338,0.432674,0.847944,0.492256,0.997388,0.666557
499,0.750043,0.656345,0.395120,0.501938,0.972571,0.298997,0.738612,0.699188

In [ ]:
#################################################################################

In [ ]:
#################################################################################

In [ ]:
# Loc (location works  on columns)

In [99]:
#  for specific value at that position
print("1st Row - 2nd column:  ",df.loc[0,'c'])
print("2nd Row - 1st column:  ",df.loc[1,'a'])

1st Row - 2nd column:   0.06596257186832744
2nd Row - 1st column:   0.690363818853426

In [28]:
#Deleting column from df

# Axis = 0 means ROWS
# Axis = 1 means COlUMNS

df = df.drop('b',  axis = 1)  # 1 means column

In [29]:
df

            a         c         d         e         f         g         h
0    0.186388  0.508395  0.248751  0.453066  0.972811  0.587282  0.795188
1    0.757759  0.755264  0.913767  0.843432  0.176062  0.359734  0.174944
2    0.800266  0.535974  0.412281  0.701729  0.923787  0.162526  0.226832
3    0.953312  0.996949  0.753651  0.105032  0.930880  0.126200  0.569155
4    0.535535  0.481864  0.356323  0.619453  0.157490  0.013272  0.508839
..        ...       ...       ...       ...       ...       ...       ...
495  0.942872  0.804930  0.573362  0.338152  0.394541  0.101196  0.006889
496  0.471898  0.514593  0.876103  0.599964  0.806398  0.211088  0.812206
497  0.650099  0.838419  0.648366  0.514813  0.392711  0.833177  0.913291
498  0.954955  0.823338  0.432674  0.847944  0.492256  0.997388  0.666557
499  0.750043  0.395120  0.501938  0.972571  0.298997  0.738612  0.699188

[500 rows x 7 columns]

In [30]:
#  deleting Row 
#  Axis = 0
df = df.drop(1, axis=0)
df

            a         c         d         e         f         g         h
0    0.186388  0.508395  0.248751  0.453066  0.972811  0.587282  0.795188
2    0.800266  0.535974  0.412281  0.701729  0.923787  0.162526  0.226832
3    0.953312  0.996949  0.753651  0.105032  0.930880  0.126200  0.569155
4    0.535535  0.481864  0.356323  0.619453  0.157490  0.013272  0.508839
5    0.205842  0.408334  0.194406  0.496769  0.291715  0.384363  0.979180
..        ...       ...       ...       ...       ...       ...       ...
495  0.942872  0.804930  0.573362  0.338152  0.394541  0.101196  0.006889
496  0.471898  0.514593  0.876103  0.599964  0.806398  0.211088  0.812206
497  0.650099  0.838419  0.648366  0.514813  0.392711  0.833177  0.913291
498  0.954955  0.823338  0.432674  0.847944  0.492256  0.997388  0.666557
499  0.750043  0.395120  0.501938  0.972571  0.298997  0.738612  0.699188

[499 rows x 7 columns]

In [ ]:
#################################################################################################################################################

In [ ]:
#################################################################################

In [ ]:
# iloc (Index location) Works on index location

In [111]:
# index loaction to know specific values
df.iloc[0,2]

0.1192356286205638

In [31]:
# changing values at specific index
df["c"][2] = "YASHA"
df

            a         c         d         e         f         g         h
0    0.186388  0.508395  0.248751  0.453066  0.972811  0.587282  0.795188
2    0.800266     YASHA  0.412281  0.701729  0.923787  0.162526  0.226832
3    0.953312  0.996949  0.753651  0.105032  0.930880  0.126200  0.569155
4    0.535535  0.481864  0.356323  0.619453  0.157490  0.013272  0.508839
5    0.205842  0.408334  0.194406  0.496769  0.291715  0.384363  0.979180
..        ...       ...       ...       ...       ...       ...       ...
495  0.942872   0.80493  0.573362  0.338152  0.394541  0.101196  0.006889
496  0.471898  0.514593  0.876103  0.599964  0.806398  0.211088  0.812206
497  0.650099  0.838419  0.648366  0.514813  0.392711  0.833177  0.913291
498  0.954955  0.823338  0.432674  0.847944  0.492256  0.997388  0.666557
499  0.750043   0.39512  0.501938  0.972571  0.298997  0.738612  0.699188

[499 rows x 7 columns]

In [32]:
# droop (DELETE)  column axis =1
df.drop(['c','d'],  axis=1, inplace=True)
df

            a         e         f         g         h
0    0.186388  0.453066  0.972811  0.587282  0.795188
2    0.800266  0.701729  0.923787  0.162526  0.226832
3    0.953312  0.105032  0.930880  0.126200  0.569155
4    0.535535  0.619453  0.157490  0.013272  0.508839
5    0.205842  0.496769  0.291715  0.384363  0.979180
..        ...       ...       ...       ...       ...
495  0.942872  0.338152  0.394541  0.101196  0.006889
496  0.471898  0.599964  0.806398  0.211088  0.812206
497  0.650099  0.514813  0.392711  0.833177  0.913291
498  0.954955  0.847944  0.492256  0.997388  0.666557
499  0.750043  0.972571  0.298997  0.738612  0.699188

[499 rows x 5 columns]

In [33]:
y=df.columns.to_list()
y

['a', 'e', 'f', 'g', 'h']

In [116]:
df['f'].isnull()

2      False
3      False
4      False
5      False
6      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: f, Length: 498, dtype: bool

In [ ]:
#################################################################################

In [ ]:
#################################################################################

In [ ]:
# Dictionary

In [ ]:
#################################################################################

In [ ]:
#################################################################################

In [117]:
dict = {
    "Name":["AA","BB","CC"],
    "Age": [20,21,22],
    "Sports":["Cricket","Football","Basketball"]
}

In [118]:
dict

{'Name': ['AA', 'BB', 'CC'],
 'Age': [20, 21, 22],
 'Sports': ['Cricket', 'Football', 'Basketball']}

In [120]:
school = pd.DataFrame(dict)
school

  Name  Age      Sports
0   AA   20     Cricket
1   BB   21    Football
2   CC   22  Basketball

In [121]:
school.to_csv("School.csv")
print("Done")

Done

In [125]:
school.to_csv("school_index_false.csv", index=False)
print("DOne")

DOne

In [3]:
import pandas as pd

# Step 1: Read data from CSV file and create a DataFrame
df = pd.read_csv('timepass.csv')

# Step 2: Display list of all columns
print("List of all columns:")
print(df.columns.tolist())

# Step 3: Display data with last three rows and first three columns
print("\nLast three rows and first three columns of the DataFrame:")
print(df.iloc[-3:, :3])

List of all columns:
['Unnamed: 0', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

Last three rows and first three columns of the DataFrame:
     Unnamed: 0         a         b
497         497  0.739372  0.819813
498         498  0.053763  0.181004
499         499  0.006770  0.137433